﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CurrencyConverter</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	@*<link href="~/mdbootstrap/css/mdb.min.css" rel="stylesheet" />*@
	<link href="~/lib/chart.js/dist/Chart.min.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/5327974dc8.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	@RenderSection("Styles", required: false)
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Exchange" asp-action="Index">Currency Exchange</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Exchange" asp-action="GetExchangesList">Exchange Archive</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top bg-primary footer text-white">
			<div class="container">
				&copy; 2020 - CurrencyConverter 
			</div>
		</footer>

	
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	@*<script src="~/mdbootstrap/js/mdb.min.js"></script>*@
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/chart.js/dist/Chart.min.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
