﻿@model CurrencyConverter.Models.ExchangeOperationFilterVM

<h1 class="text-center"></h1>
<hr />

@{ var test = Model.SortOrder; }
<div class="container">
	<div class="row">
		<div class="col-md-12" style="padding:0px;">
			<form asp-action="GetExchangesList" asp-controller="Exchange" method="get">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group row" style="margin:0px;">
					<div class="col-sm-5" style="padding:0px;">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Converted From</span>
							</div>
							<input asp-for="FromCurrency" id="FromCurrencyField" class="form-control w-50" />
							<span asp-validation-for="FromCurrency" class="text-danger"></span>
						</div>
					</div>
					<div class="col-sm-4 form-inline mb-5">
						<div class="input-group-prepend">
							<span class="input-group-text"
								  style="border-top-right-radius: 0px;
									border-bottom-right-radius: 0px;">
								Since:
							</span>
						</div>
						<input asp-for="PublishTimeSinceField" type="text" id="DateField_1" placeholder="DD.MM.YYYY" class="form-control"
							   style="border-top-right-radius: 0px;
									border-bottom-right-radius: 0px;
									border-top-left-radius: 0px;
									border-bottom-left-radius: 0px;" />

						<input asp-for="PublishTimeSince" id="DatePicker_1" type="date"
							   class="form-control"
							   style="width:63px; height:38px;
										background-color: lightgray ;
										padding-left:0px;
										border-top-left-radius: 0px;
										border-bottom-left-radius: 0px;
										margin-right: 10px;"
							   onchange="ChangeDate(this.id)" />
						<span asp-validation-for="PublishTimeSinceField" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group row" style="margin:0px;">
					<div class="col-sm-5" style="padding:0px;">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Converted To</span>
							</div>
							<input asp-for="ToCurrency" id="ToCurrencyField" class="form-control w-50" />
							<span asp-validation-for="ToCurrency" class="text-danger"></span>
						</div>
					</div>
					<div class="col-sm-4 form-inline mb-5">
						<div class="input-group-prepend">
							<span class="input-group-text"
								  style="border-top-right-radius: 0px;
										border-bottom-right-radius: 0px;
										width: 66px;">Till:
							</span>
						</div>
						<input asp-for="PublishTimeTillField"
							   type="text"
							   id="DateField_2"
							   placeholder="DD.MM.YYYY" class="form-control"
							   style="border-top-right-radius: 0px;
									  border-bottom-right-radius: 0px;
									  border-top-left-radius: 0px;
									  border-bottom-left-radius: 0px;" />
						<input asp-for="PublishTimeTill"
							   type="date"
							   id="DatePicker_2"
							   class="form-control"
							   style="width:63px; height:38px; background-color: lightgray ; padding-left:0px;
									  border-top-left-radius: 0px;
									  border-bottom-left-radius: 0px;
									  margin-right: 10px;"
							   onchange="ChangeDate(this.id)" />
						<span asp-validation-for="PublishTimeTillField" class="text-danger"></span>

						<input asp-for="SortOrder"
							   class="form-control"
							   type="hidden" id="sortOrder">
					</div>
					<div class="col mb-5" style="padding:0px;">
						<input type="button"
							   style="background-color: darkviolet;
							   color: #fff; width:150px;
							   margin-left:12px;"
							   class="btn float-right"
							   onclick="cleanFunction()"
							   value="CLEAN FILTERS" />
						<input type="submit"
							   value="SEARCH" 
							   id="SubmitFilter"
							   class="btn btn-primary float-right"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>





