﻿<hr />
<h1 class="text-center">Statistic</h1>
<div class="container">
	<div class="row">
		<div class="col-md-6">			
			<canvas id="chart_1" width="400" height="250"></canvas>
		</div>
		<div class="col-md-6">	
			<canvas id="chart_2" width="400" height="250"></canvas>
		</div>
	</div>	
</div>


