﻿@model List<CurrencyConverter.Models.ExchangeVM.CurrencyTypesSelectionVM>

@{
	Layout = null;
	var model = Model;
}

<div>
	@using (Html.BeginForm("SaveSelectedCurrencyForExchange", "exchange", FormMethod.Post))
	{
		<table class="table table-striped table-sm table-hover">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col" class="text-center">Currency</th>
					<th scope="col" class="text-center">For exchange</th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < Model.Count(); i++)
				{
					<tr>
						<td >
							@Html.DisplayFor(m => m[i].Id)							
						</td>
						<td class="text-center">
							@Html.DisplayFor(m => m[i].Name)
							@Html.HiddenFor(m => m[i].Name)
						</td>
						<td class="text-center">
							@Html.CheckBoxFor(m => m[i].IsSelected)
							@Html.HiddenFor(m => m[i].Id)
						</td>
					</tr>
				}
			</tbody>
		</table>
		<hr />
		<input  class="btn btn-primary float-right" type="submit" style="width:100px;" value="Save" />
	}
</div>




