﻿@using CurrencyConverter.Models.ExchangeVM
@using CurrencyConverter.Models.StatisticVM
@model ExchangeOperationVM
@{
	ViewData["Title"] = "GetExchangesList";
}
@{
	int page = Model.Page;
	var chartData_1 = ViewBag.StaticticModel_1;
	var chartData_2 = ViewBag.StaticticModel_2;
}


<h1 class="text-center">Exchange history</h1>
@await Html.PartialAsync("_SearchData", Model.ExchangeOperationsFilter)


<hr />
<div class="row justify-content-center">
	<div class="col-md-12">
		<table class="table table-striped table-sm table-hover">
			<thead class="thead-dark">
				<tr>
					<th>
						<a asp-action="GetExchangesList"
						   asp-route-page="@(page)"
						   asp-route-sortOrder="@ViewData["Id_Sorting_Order"]"
						   asp-route-id="@Model.ExchangeOperationsFilter.Id"
						   asp-route-fromcurrency="@Model.ExchangeOperationsFilter.FromCurrency"
						   asp-route-fromamount="@Model.ExchangeOperationsFilter.FromAmount"
						   asp-route-tocurrency="@Model.ExchangeOperationsFilter.ToCurrency"
						   asp-route-toamount="@Model.ExchangeOperationsFilter.ToAmount"
						   asp-route-publishtimesincefield="@Model.ExchangeOperationsFilter.PublishTimeSinceField"
						   asp-route-publishtimetillfield="@Model.ExchangeOperationsFilter.PublishTimeTillField">Id</a>
					</th>
					<th scope="col">Convert From</th>
					<th>
						<a asp-action="GetExchangesList"
						   asp-route-page="@(page)"
						   asp-route-sortOrder="@ViewData["From_Amount_Sorting_Order"]"
						   asp-route-id="@Model.ExchangeOperationsFilter.Id"
						   asp-route-fromcurrency="@Model.ExchangeOperationsFilter.FromCurrency"
						   asp-route-fromamount="@Model.ExchangeOperationsFilter.FromAmount"
						   asp-route-tocurrency="@Model.ExchangeOperationsFilter.ToCurrency"
						   asp-route-toamount="@Model.ExchangeOperationsFilter.ToAmount"
						   asp-route-publishtimesincefield="@Model.ExchangeOperationsFilter.PublishTimeSinceField"
						   asp-route-publishtimetillfield="@Model.ExchangeOperationsFilter.PublishTimeTillField">Amount From</a>
					</th>
					<th scope="col">Convert To</th>
					<th>
						<a asp-action="GetExchangesList"
						   asp-route-page="@(page)"
						   asp-route-sortOrder="@ViewData["Converted_Amount_Sorting_Order"]"
						   asp-route-id="@Model.ExchangeOperationsFilter.Id"
						   asp-route-fromcurrency="@Model.ExchangeOperationsFilter.FromCurrency"
						   asp-route-fromamount="@Model.ExchangeOperationsFilter.FromAmount"
						   asp-route-tocurrency="@Model.ExchangeOperationsFilter.ToCurrency"
						   asp-route-toamount="@Model.ExchangeOperationsFilter.ToAmount"
						   asp-route-publishtimesincefield="@Model.ExchangeOperationsFilter.PublishTimeSinceField"
						   asp-route-publishtimetillfield="@Model.ExchangeOperationsFilter.PublishTimeTillField">Converted Amount</a>
					</th>
					<th>
						<a asp-action="GetExchangesList"
						   asp-route-page="@(page)"
						   asp-route-sortOrder="@ViewData["Date_Sorting_Order"]"
						   asp-route-id="@Model.ExchangeOperationsFilter.Id"
						   asp-route-fromcurrency="@Model.ExchangeOperationsFilter.FromCurrency"
						   asp-route-fromamount="@Model.ExchangeOperationsFilter.FromAmount"
						   asp-route-tocurrency="@Model.ExchangeOperationsFilter.ToCurrency"
						   asp-route-toamount="@Model.ExchangeOperationsFilter.ToAmount"
						   asp-route-publishtimesincefield="@Model.ExchangeOperationsFilter.PublishTimeSinceField"
						   asp-route-publishtimetillfield="@Model.ExchangeOperationsFilter.PublishTimeTillField">Convertation Date</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@*<img src="/Files/@item.Image" width="100"></td>*@
				@foreach (var item in Model.ExOpList)
				{
					<tr id="row_@item.Id">
						<th scope="row">@item.Id</th>
						<td>@item.FromCurrency</td>
						<td>@item.FromAmount</td>
						<td>@item.ToCurrency</td>
						<td>@item.ToAmount</td>
						<td>@item.DateCreate.ToString()</td>
					</tr>
				}
			</tbody>
		</table>

		<nav class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item @(page == 1? "disabled":"")">
					<a class="page-link"
					   asp-action="GetExchangesList"
					   asp-controller="Exchange"
					   asp-route-page="@(page - 1)"
					   asp-route-sortOrder="@ViewBag.CurrentSortOrder"
					   asp-route-id="@Model.ExchangeOperationsFilter.Id"
					   asp-route-fromcurrency="@Model.ExchangeOperationsFilter.FromCurrency"
					   asp-route-fromamount="@Model.ExchangeOperationsFilter.FromAmount"
					   asp-route-tocurrency="@Model.ExchangeOperationsFilter.ToCurrency"
					   asp-route-toamount="@Model.ExchangeOperationsFilter.ToAmount"
					   asp-route-publishtimesincefield="@Model.ExchangeOperationsFilter.PublishTimeSinceField"
					   asp-route-publishtimetillfield="@Model.ExchangeOperationsFilter.PublishTimeTillField"
					   asp-route-publishtimetill="@Model.ExchangeOperationsFilter.PublishTimeTill"
					   asp-route-publishtimesince="@Model.ExchangeOperationsFilter.PublishTimeSince"
					   tabindex="-1">
						Prev
					</a>
				</li>
				@for (int i = 1; i < Model.MaxPage + 1; i++)
				{
					<li class="page-item @(page == i ? "active": "" )">
						<a class="page-link"
						   asp-action="GetExchangesList"
						   asp-controller="Exchange"
						   asp-route-page="@i"
						   asp-route-sortOrder="@ViewBag.CurrentSortOrder"
						   asp-route-id="@Model.ExchangeOperationsFilter.Id"
						   asp-route-fromcurrency="@Model.ExchangeOperationsFilter.FromCurrency"
						   asp-route-fromamount="@Model.ExchangeOperationsFilter.FromAmount"
						   asp-route-tocurrency="@Model.ExchangeOperationsFilter.ToCurrency"
						   asp-route-toamount="@Model.ExchangeOperationsFilter.ToAmount"
						   asp-route-publishtimesincefield="@Model.ExchangeOperationsFilter.PublishTimeSinceField"
						   asp-route-publishtimetillfield="@Model.ExchangeOperationsFilter.PublishTimeTillField"
						   asp-route-publishtimetill="@Model.ExchangeOperationsFilter.PublishTimeTill"
						   asp-route-publishtimesince="@Model.ExchangeOperationsFilter.PublishTimeSince">
							@i <span class="sr-only">(current)</span>
						</a>
					</li>
				}
				@*asp-route-sortOrder="@ViewBag.CurrentSortOrder"*@
				<li class="page-item @(page == Model.MaxPage? "disabled":"")">
					<a class="page-link"
					   asp-action="GetExchangesList"
					   asp-controller="Exchange"
					   asp-route-page="@(page+1)"
					   asp-route-sortOrder="@ViewBag.CurrentSortOrder"
					   asp-route-id="@Model.ExchangeOperationsFilter.Id"
					   asp-route-fromcurrency="@Model.ExchangeOperationsFilter.FromCurrency"
					   asp-route-fromamount="@Model.ExchangeOperationsFilter.FromAmount"
					   asp-route-tocurrency="@Model.ExchangeOperationsFilter.ToCurrency"
					   asp-route-toamount="@Model.ExchangeOperationsFilter.ToAmount"
					   asp-route-publishtimesincefield="@Model.ExchangeOperationsFilter.PublishTimeSinceField"
					   asp-route-publishtimetillfield="@Model.ExchangeOperationsFilter.PublishTimeTillField"
					   asp-route-publishtimetill="@Model.ExchangeOperationsFilter.PublishTimeTill"
					   asp-route-publishtimesince="@Model.ExchangeOperationsFilter.PublishTimeSince">
						Next
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
@await Html.PartialAsync("_StaticticCharts", (StatisticVM)ViewBag.StaticticModel)


@section scripts
{
	@*<script src="~/lib/chart.js/dist/Chart.min.js"></script>*@

<script type="text/javascript">
		function ChangeDate(id) {
			console.log("work");
			var x = document.getElementById(id).value;

			var date = x.substr(8) + "." + x.substr(5, 2) + "." + x.substr(0, 4);
			var htmlItem = "DateField_" + id.substr(11);

			console.log(x);
			document.getElementById(htmlItem).value = date;
			console.log("work");
		}

		function cleanFunction() {
			document.getElementById("DateField_1").value = "";
			document.getElementById("DateField_2").value = "";
			document.getElementById("FromCurrencyField").value = "";
			document.getElementById("ToCurrencyField").value = "";

			console.log("work")
		}

	let Chart_1 = document.getElementById("chart_1").getContext('2d');
	let Chart_2 = document.getElementById("chart_2").getContext('2d');

	let chart1 = new Chart(Chart_1, {
		type: 'doughnut',
		data: {
			labels: [
				@foreach (var item in chartData_1.ListChartDataItems)
				{
					@:"@Html.Raw(item.SectorLabel)",
				}
			],
			datasets: [{
				data: [
					@foreach (var item in chartData_1.ListChartDataItems)
					{
						@:"@Html.Raw(item.SectorValue)",
					}
				],
				backgroundColor: [
					@foreach (var item in chartData_1.ListChartDataItems)
					{
						@:"@Html.Raw(item.SectorColor)",
					}
				]
			}]
		},
		options: {
			title: {
				text: "Currency types converted from ( % )",
				display: true
			}
		}
	});

	let chart2 = new Chart(Chart_2, {
		type: 'doughnut',
		data: {
			labels: [
				@foreach (var item in chartData_2.ListChartDataItems)
				{
					@:"@Html.Raw(item.SectorLabel)",
				}
			],
			datasets: [{
				data: [
					@foreach (var item in chartData_2.ListChartDataItems)
					{
						@:"@Html.Raw(item.SectorValue)",
					}
				],
				backgroundColor: [
					@foreach (var item in chartData_2.ListChartDataItems)
					{
						@:"@Html.Raw(item.SectorColor)",
					}
				]
			}]
		},
		options: {
			title: {
				text: "Currency types converted to ( % )",
				display: true
			}
		}
	});



			//$("#SubmitFilter").on("click", function () {
			//	var filterValue = $("#_sortOrder").val();
			//	console.log("filterValue: ", filterValue);

			//	$("#sortOrder").val(filterValue);
			//})

</script>
}



