﻿@model CurrencyConverter.Models.CurrencyTypeVM


<link href="~/css/validation.css" rel="stylesheet" />
<h2 class="text-center" style="margin-bottom: 100px;">Currency Exchange</h2>
<h4 id="warning" class="text-center text-danger" style="margin-bottom: 20px;"></h4>
<div class="container">
	<div class="row ">
		<div class="col-md-12">
			<form>
				<div class="validation" asp-validation-summary="ModelOnly"></div>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-3">
							<div class="form-group">
								<input id="FirstCurrencyAmount" class="form-control" type="text" placeholder="amount" asp-for="LeftCurrencyAmount">
								<span asp-validation-for="LeftCurrencyAmount" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-2">
							<select id="FirstCurrList"
									name="_FirstCurrList"
									asp-for="Id"
									class="form-control"
									asp-items="@(new SelectList(ViewBag.ListOfCurrency_1, "Id", "Name"  ))">
							</select>
						</div>
						<div class="col-md-1 text-center">
							<i id="Reverce" class="fas fa-exchange-alt fa-2x" style="color:green"></i>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<input id="SecondCurrencyAmount" class="form-control" type="text" placeholder="amount" asp-for="RightCurrencyAmount">
								<span asp-validation-for="RightCurrencyAmount" class="text-danger"></span>
							</div>

						</div>
						<div class="col-md-2">
							<select id="SecondCurrList"
									asp-for="Id"
									name="_SecondCurrList"
									class="form-control"
									asp-items="@(new SelectList(ViewBag.ListOfCurrency_2, "Id", "Name"  ))">
							</select>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
	<div class="container">
		<div class="row ">
			<div class="col-md-6" style="margin-top: 10px">
				<div id="ResultBox">
					<div id="Result">
						<h3 style="display: inline;"></h3>
						<h3 style="display: inline; color:green"></h3>
						<h3 style="display: inline;"></h3>
					</div>
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 20px; padding-right: 0px;">
				<input id="currMenu" onclick="getCurrencySelectionList()"  type="button" value="Select currency" class="btn btn-primary float-right" />
			</div>
			<div class="col-md-2" style="margin-top: 20px; padding-left: 0px;">
				<input id="Submit1" type="button" value="Exchange" class="btn  btn-success float-right" />
			</div>
		</div>
	</div>



	<div class="modal fade" id="currModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" id="dialogContent" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title " id="exampleModalLabel">Currency List</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

				</div>
				@*<div class="modal-footer">					
				</div>*@
			</div>
		</div>
	</div>
</div>


@section scripts{
	<script type="text/javascript">

		function getCurrencySelectionList() {
			console.log("selction!");
			$.get("@Url.Action("GetCurrencyTypesSelectionList", "Exchange")",
				function (data) {
					$('.modal-body').html(data);
				})
			$('#currModal').modal('show');
		}	


		//$('#Reverce').on("click", function () {
		//	var selectedItem_1 = $("#FirstCurrList option:selected").text();
		//	var selectedItem_2 = $("#SecondCurrList option:selected").text();

		//	console.log("FIRST:", selectedItem_1, selectedItem_2);

		//	var ind_1 = $('select[name="_FirstCurrList"]').val();
		//	var ind_2 = $('select[name="_SecondCurrList"]').val()

		//	console.log("SECOND", ind_1, ind_2);

		//	$("#FirstCurrList").val(ind_2);
		//	$("#SecondCurrList").val(ind_1);

		//	console.log("THIRD:", selectedItem_1, selectedItem_2);
		//})

		$("#Submit1").on("click", function () {
			var selectedItem_1 = $("#FirstCurrList option:selected").text();
			var selectedItem_2 = $("#SecondCurrList option:selected").text();
			var firstSum = $("#FirstCurrencyAmount").val();
			var secondSum = $("#SecondCurrencyAmount").val();

			var exchangeData = [selectedItem_1, firstSum, selectedItem_2, secondSum];

			console.log("exchangeData: ", exchangeData)
			if (parseFloat(firstSum) > 0 && parseFloat(secondSum) > 0) {
				console.log("firstSum: ", firstSum, "secondSum: ", secondSum)
				$('#warning').text("one currency amount should be 0 or empty");
				return;
			}

			if (parseFloat(firstSum) < 0 || parseFloat(secondSum) < 0) {
				console.log("firstSum: ", firstSum, "secondSum: ", secondSum)
				$('#warning').text("possible convert only positive amounts");
				return;
			}

			if (firstSum == "" || firstSum == null) {
				exchangeData[1] = "0";
			}
			if (secondSum == "" || secondSum == null) {
				exchangeData[3] = "0";
			}


			$.ajax({
				url: '@Url.Action("Index")',
				type: "POST",
				data: { exchangeOperationData: exchangeData  },
				dataType: "json",
				success: function (responce) {

					if (responce == 'Bad responce') {
						$('#warning').text("incorrect populated data");
						$("#Result").remove();
					}
					else {
						$("#Result").remove();
						$("#warning").html("");
						console.log("good resp: ", responce)
						if (firstSum == "" || firstSum == "0" || firstSum == "amount") {
							$('#FirstCurrencyAmount').val(responce.convertedAmountResult);
						}
						else {
							$('#SecondCurrencyAmount').val(responce.convertedAmountResult);
						}
						$('#ResultBox').append("<div id=\"Result\">" +
							"<h3 style=\"display: inline;\">1 " + responce.currencyFromType + " = " + "</h3>" +
							"<h3 style=\"display: inline; color:green\">" + responce.exchangeCourse + "  " + "</h3>" +
							"<h3 style=\"display: inline;\">" + responce.currencyToType + "</h3>" +
							"</div> ");
					}
				},
				failure: function (responce) {
					console.log("bad resp: ", responce)
				}
			});
		})
	</script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
		asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
		asp-fallback-test="window.jQuery && window.jQuery.validator">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"
		asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
		asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
</script>